body{
	padding-top: 100px;

}

.contents{
	padding:50px;
	text-align: left;
}

.inline-form input {
  display: inline-block;
  width: 100px;
}

.colapse{
	display: inline-block;
}

.listePersonnes{
	padding-top: 20px;
	padding-bottom: 20px;
}

.panel-tittle{
	padding-bottom:10px;
	color: #0070ff;
	text-align: center;
}


img{
	width: 100%;
}

nav{
	border-bottom: solid #0070ff;
}

footer {
	background-color: #0070ff;
	color: white;
}

footer a {
	color: white;
}

.collapsed{
	padding-top: 20px;
}

.listeAttributs{
	background-color: #dfdfdf;
}

table{
	padding-top: 20px;
	padding-bottom: 20px;
}

.foot{
margin-left: auto;


margin-right: auto;
}

.footer-copyright{
	background-color: #0069EF;
}

.erreurRecherche{

	padding-left: 10%;
	padding-right: 10%;
	margin: 0px;
	color: #BF005A;
}

.edit{
	border: solid 3px;
	padding: 5px;
	margin: 10px;
	margin-top: 20px;
}

.effacer{
	color: red;
	border: solid 3px;
	padding: 5px;
	margin: 10px;
=
}