{#Template pour l'affichage des personnes sous forme de liste#}

{% extends 'base.html.twig' %}

{% block content %}
    {# Affichage de la liste des modules dans un card #}
		<div class="col-sm-12 col-md-10 offset-md-1 listeModules" >
			<div class="card border-primary">
				<div class="card-header">
					<h3 class="panel-tittle">Liste des personnes:</h3>
				</div>
				{# Affiche un message d'erreur si il y a #}
				<h1 class="erreurRecherche"> {{ infos }} </h1>
				<ul class="list-group list-group-flush">
				{# On parcours la liste d'utilisateurs et les affiche dans un tableau#}
				{% for users in personnes %}
					<li class="list-group-item">
						<div class="col-lg-12">
							<div class="row table-responsive text-nowrap">
  								<table class="table table-bordered table-striped table-condensed">
									<thead>
										<tr class="listeAttributs">
											<th>Nom</th>
											<th>Prénom</th>
											<th>Age</th>
											<th>telephone</th>
											<th>Email</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											{# On utilise escape(html) pour éviter les injections #}
											<td>{{users.nom|escape('html')|raw}}</td>
											<td>{{users.prenom|escape('html')|raw}}</td>
											<td>{{users.age|escape('html')|raw}}</td>
											<td>{{users.telephone|escape('html')|raw}}</td>
											<td>{{users.email|escape('html')|raw}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							{# Ajoute deux liens pour modifier ou supprimer l'élément #}
							<a class="edit" href="{{ path('form_edit', {'id': users.idpersonne }) }}">éditer</a>
							<a class="effacer" href="{{ path('delete_personne', {'id': users.idpersonne }) }}"> Effacer</a>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>

{% endblock %}