<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Application{% endblock %}</title>
        {# 
            importation des librairies necessaires (via DNS): 
            -jquery
            -fontawesome
            -bootstrap (css et js)
            -styles.CSS pour la mise en page personalisée
         #}


        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}"/>
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/7988326e28.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <header>
        <nav class="navbar navbar-expand-md bg-light fixed-top">
            <a class="navbar-brand" href="{{ path('personne_show_all') }}"><img src="{{ asset('images/logo.jpg') }}" width="194" height="70" alt="logo"></a>
            <!--
            On crée un bouton qui contiendra le contenu de la navbar si l'écran devient trop petit pour afficher tout le contenu de la navbar. Dans ce cas, le formulaire s'affichera en cas d'appuie sur le boutton
            -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenu" aria-controls="contenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color:#0070ff;"></i>
            </button>
            <div class="collapse navbar-collapse" id="contenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-md-3">
                        <a class="navbar-brand" href="{{ path('form_personne') }}"> Ajouter </a>
                    </li>
                    <li class="nav-item ml-md-3">
                        <a class="navbar-brand" href="{{ path('personne_show_all') }}"> Liste personnes </a>
                    </li>
                </ul>
                <!-- Formulaire pour gérer la recherche de personne -->
                <form class="form-inline my-2 my-lg-0 mx-3" method= "post" action="/search">
                    <input type="search" class="mr-sm-2 form-control" placeholder="nom du contact" id= "nomPersonne" name="nomPersonne">
                    <button type="submit" name="recherche" class="btn btn-outline-info my-2 my-sm-0" style="color:#0070ff">
                    Chercher
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </form>               
            </div>
        </nav>
    </header>
    <body>
        {% block body %}

            <div class ='contents' id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>

    <footer class="page-footer">
        <div class="container-fluid">
            <div class="row">
                <div class = "col-md-4 col-sm-6 col-xs-12 py-5">
                    <h3>S Com System</h3>
                    <p>Adresse: <br />2 Rue Jacques Messager, 59175 Templemars</p>
                </div>
                <div class = "col-md-4 col-sm-6 col-xs-12 py-5 p-auto">
                    <h3>Plan du site</h3>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('personne_show_all') }}">Liste des personnes</a></li>
                        <li><a href="{{ path('form_personne') }}">Ajouter une personne</a></li>

                    </ul>
                </div>
                <div class = "col-md-4 col-sm-6 col-xs-12 py-5 p-auto">
                    <h3>Service Client</h3>
                    <p>Support ouvert <br />du lundi au vendredi<br />09h00 à 17h00
                        <br /> <br />
                        03 20 31 22 24</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> Alexis Hémery</a>
        </div>
    </footer>
</html>